<mat-card>
  <mat-card-header>
    <mat-card-title>Books</mat-card-title>
    <mat-card-subtitle>All books list</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div style="display: flex; justify-content: space-between">
      <div style="flex-grow: 1">
        <app-book-search (searchEvent)="onSearch($event)"></app-book-search>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>Period</mat-label>
        <mat-select
          [(value)]="selectedPeriod"
          (selectionChange)="onPeriodChange()"
        >
          <mat-option *ngFor="let period of periods" [value]="period">{{
            period
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="selectedPeriod === 'Choose period'">
        <mat-form-field appearance="fill">
          <mat-label>Start date</mat-label>
          <input
            matInput
            [matDatepicker]="startDatepicker"
            [(ngModel)]="startDate"
            (ngModelChange)="changeStartDate()"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="startDatepicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #startDatepicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>End date</mat-label>
          <input
            matInput
            [matDatepicker]="endDatepicker"
            [(ngModel)]="endDate"
            (ngModelChange)="changeEndDate()"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="endDatepicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #endDatepicker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="index">
        <mat-header-cell *matHeaderCellDef>№</mat-header-cell>
        <mat-cell *matCellDef="let book; index as i">{{ i + 1 }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Book name</mat-header-cell
        >
        <mat-cell *matCellDef="let book">{{ book.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="publicationDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Publication date</mat-header-cell
        >
        <mat-cell *matCellDef="let book">{{
          book.publicationDate | date
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="numberOfPages">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Number of pages</mat-header-cell
        >
        <mat-cell *matCellDef="let book">{{ book.numberOfPages }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="selectRow(row)"
        [class.selected]="isSelected(row)"
      ></mat-row>
    </mat-table>
  </mat-card-content>
  <mat-card-footer> </mat-card-footer>
</mat-card>
