<mat-card>
  <mat-card-header>
    <mat-card-title>Books</mat-card-title>
    <mat-card-subtitle>All books list</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div style="display: flex; justify-content: space-between">
      <div style="flex-grow: 1">
        <app-book-search (searchEvent)="onSearch($event)"></app-book-search>
      </div>
      <app-date-filter
        (rangeChanged)="onDateRangeChanged($event)"
      ></app-date-filter>
    </div>

    <button mat-raised-button color="primary" (click)="openDialogToAddBook()">
      Add Book
    </button>

    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="index">
        <mat-header-cell *matHeaderCellDef>№</mat-header-cell>
        <mat-cell *matCellDef="let book; index as i">{{ i + 1 }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Book name</mat-header-cell
        >
        <mat-cell *matCellDef="let book">{{ book.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="publicationDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Publication date</mat-header-cell
        >
        <mat-cell *matCellDef="let book">{{
          book.publicationDate | date
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="numberOfPages">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Number of pages</mat-header-cell
        >
        <mat-cell *matCellDef="let book">{{ book.numberOfPages }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let book">
          <button
            mat-icon-button
            color="accent"
            (click)="openDialogToEditBook(book)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteBook(book)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="selectRow(row)"
        [class.selected]="isSelected(row)"
      ></mat-row>
    </mat-table>

    <app-book-chart></app-book-chart>
  </mat-card-content>
  <mat-card-footer> </mat-card-footer>
</mat-card>
